# 載入模組(使用Keras)

In [15]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn import preprocessing
import pandas as pd
import numpy as np

In [293]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submit = pd.read_csv('gender_submission.csv')

# 觀察資料

In [294]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [295]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [296]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [297]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

# 選擇需要的資料欄位

In [298]:
selected_features = ['Pclass', 'Age',  'Fare', 'Sex', 'Embarked']

In [299]:
X_train = train[selected_features]

In [300]:
y_train = train['Survived']

In [301]:
X_test = test[selected_features]

In [302]:
X_train['Age'].fillna(X_train['Age'].mean(), inplace=True)
X_train['Embarked'].fillna('S', inplace=True)
X_test['Age'].fillna(X_test['Age'].mean(), inplace=True)
X_test['Fare'].fillna(X_test['Fare'].mean(), inplace=True)

C:\Users\dick_\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

# 設置虛擬變數

In [303]:
X_train = pd.get_dummies(X_train)

In [304]:
X_test = pd.get_dummies(X_test)

In [305]:
X_test.head()

,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,7.8292,0,1,0,1,0
1,3,47.0,7.0000,1,0,0,0,1
2,2,62.0,9.6875,0,1,0,1,0
3,3,27.0,8.6625,0,1,0,0,1
4,3,22.0,12.2875,1,0,0,0,1

In [306]:
X_train.head()

,Pclass,Age,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,7.2500,0,1,0,0,1
1,1,38.0,71.2833,1,0,1,0,0
2,3,26.0,7.9250,1,0,0,0,1
3,1,35.0,53.1000,1,0,0,0,1
4,3,35.0,8.0500,0,1,0,0,1

# 標準化

In [274]:
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0 ,1))

In [275]:
X_train = minmax_scale.fit_transform(X_train)

In [276]:
X_train[:2]#參數皆介於零到一之間

array([[1.        , 0.27117366, 0.01415106, 0.        , 1.        ,
        0.        , 0.        , 1.        ],
       [0.        , 0.4722292 , 0.13913574, 1.        , 0.        ,
        1.        , 0.        , 0.        ]])

In [277]:
y_train = y_train.values

In [278]:
X_test = minmax_scale.fit_transform(X_test)

# 建立模型

In [307]:
model = Sequential()

In [308]:
model.add(Dense(units=40, input_dim=8,
               kernel_initializer="uniform",
               activation="relu"))

In [309]:
model.add(Dense(units=30, 
               kernel_initializer="uniform",
               activation="relu"))

In [310]:
model.add(Dense(units=1, 
               kernel_initializer="uniform",
               activation="sigmoid"))

In [311]:
model.compile(loss="binary_crossentropy",
             optimizer="adam",metrics=["accuracy"])

In [312]:
train_history=model.fit(x=X_train,
                       y=y_train,
                       validation_split=0.1,
                       epochs=50,batch_size=30,
                       verbose=2)

Train on 801 samples, validate on 90 samples
Epoch 1/50
 - 0s - loss: 0.6811 - acc: 0.6180 - val_loss: 0.6632 - val_acc: 0.6556
Epoch 2/50
 - 0s - loss: 0.6467 - acc: 0.6792 - val_loss: 0.6181 - val_acc: 0.6444
Epoch 3/50
 - 0s - loss: 0.6191 - acc: 0.6704 - val_loss: 0.5827 - val_acc: 0.6778
Epoch 4/50
 - 0s - loss: 0.6023 - acc: 0.6742 - val_loss: 0.5626 - val_acc: 0.6889
Epoch 5/50
 - 0s - loss: 0.5911 - acc: 0.6904 - val_loss: 0.5477 - val_acc: 0.6667
Epoch 6/50
 - 0s - loss: 0.5805 - acc: 0.6891 - val_loss: 0.5296 - val_acc: 0.7000
Epoch 7/50
 - 0s - loss: 0.5727 - acc: 0.6954 - val_loss: 0.5214 - val_acc: 0.7111
Epoch 8/50
 - 0s - loss: 0.5621 - acc: 0.7041 - val_loss: 0.5079 - val_acc: 0.7333
Epoch 9/50
 - 0s - loss: 0.5501 - acc: 0.6991 - val_loss: 0.4959 - val_acc: 0.7333
Epoch 10/50
 - 0s - loss: 0.5395 - acc: 0.7216 - val_loss: 0.4933 - val_acc: 0.7556
Epoch 11/50
 - 0s - loss: 0.5278 - acc: 0.7416 - val_loss: 0.4792 - val_acc: 0.8000
Epoch 12/50
 - 0s - loss: 0.5138 - acc: 0.7478 - val_loss: 0.4702 - val_acc: 0.7778
Epoch 13/50
 - 0s - loss: 0.4984 - acc: 0.7753 - val_loss: 0.4589 - val_acc: 0.7667
Epoch 14/50
 - 0s - loss: 0.5033 - acc: 0.7628 - val_loss: 0.4779 - val_acc: 0.7889
Epoch 15/50
 - 0s - loss: 0.4869 - acc: 0.7853 - val_loss: 0.4556 - val_acc: 0.7667
Epoch 16/50
 - 0s - loss: 0.4793 - acc: 0.7865 - val_loss: 0.4525 - val_acc: 0.7667
Epoch 17/50
 - 0s - loss: 0.4758 - acc: 0.7790 - val_loss: 0.4526 - val_acc: 0.7667
Epoch 18/50
 - 0s - loss: 0.4700 - acc: 0.7853 - val_loss: 0.4476 - val_acc: 0.7667
Epoch 19/50
 - 0s - loss: 0.4681 - acc: 0.7853 - val_loss: 0.4549 - val_acc: 0.7667
Epoch 20/50
 - 0s - loss: 0.4725 - acc: 0.7953 - val_loss: 0.4486 - val_acc: 0.7667
Epoch 21/50
 - 0s - loss: 0.4748 - acc: 0.7865 - val_loss: 0.4518 - val_acc: 0.7889
Epoch 22/50
 - 0s - loss: 0.4749 - acc: 0.7903 - val_loss: 0.4394 - val_acc: 0.7889
Epoch 23/50
 - 0s - loss: 0.4677 - acc: 0.7840 - val_loss: 0.4314 - val_acc: 0.7889
Epoch 24/50
 - 0s - loss: 0.4604 - acc: 0.7853 - val_loss: 0.4375 - val_acc: 0.7889
Epoch 25/50
 - 0s - loss: 0.4605 - acc: 0.7790 - val_loss: 0.4371 - val_acc: 0.7889
Epoch 26/50
 - 0s - loss: 0.4598 - acc: 0.7865 - val_loss: 0.4286 - val_acc: 0.7889
Epoch 27/50
 - 0s - loss: 0.4544 - acc: 0.7853 - val_loss: 0.4244 - val_acc: 0.8000
Epoch 28/50
 - 0s - loss: 0.4699 - acc: 0.7815 - val_loss: 0.4296 - val_acc: 0.8111
Epoch 29/50
 - 0s - loss: 0.4528 - acc: 0.7890 - val_loss: 0.4199 - val_acc: 0.8000
Epoch 30/50
 - 0s - loss: 0.4511 - acc: 0.7940 - val_loss: 0.4329 - val_acc: 0.8111
Epoch 31/50
 - 0s - loss: 0.4524 - acc: 0.7853 - val_loss: 0.4225 - val_acc: 0.8000
Epoch 32/50
 - 0s - loss: 0.4505 - acc: 0.7928 - val_loss: 0.4221 - val_acc: 0.8000
Epoch 33/50
 - 0s - loss: 0.4468 - acc: 0.7853 - val_loss: 0.4241 - val_acc: 0.8000
Epoch 34/50
 - 0s - loss: 0.4478 - acc: 0.8002 - val_loss: 0.4219 - val_acc: 0.8000
Epoch 35/50
 - 0s - loss: 0.4474 - acc: 0.8015 - val_loss: 0.4287 - val_acc: 0.8222
Epoch 36/50
 - 0s - loss: 0.4544 - acc: 0.7953 - val_loss: 0.4167 - val_acc: 0.8111
Epoch 37/50
 - 0s - loss: 0.4437 - acc: 0.8015 - val_loss: 0.4281 - val_acc: 0.7889
Epoch 38/50
 - 0s - loss: 0.4545 - acc: 0.7903 - val_loss: 0.4160 - val_acc: 0.8222
Epoch 39/50
 - 0s - loss: 0.4454 - acc: 0.8002 - val_loss: 0.4103 - val_acc: 0.8222
Epoch 40/50
 - 0s - loss: 0.4443 - acc: 0.7940 - val_loss: 0.4087 - val_acc: 0.8111
Epoch 41/50
 - 0s - loss: 0.4468 - acc: 0.7928 - val_loss: 0.4205 - val_acc: 0.7889
Epoch 42/50
 - 0s - loss: 0.4408 - acc: 0.7915 - val_loss: 0.4062 - val_acc: 0.7889
Epoch 43/50
 - 0s - loss: 0.4380 - acc: 0.7965 - val_loss: 0.4080 - val_acc: 0.8111
Epoch 44/50
 - 0s - loss: 0.4380 - acc: 0.7990 - val_loss: 0.4076 - val_acc: 0.8222
Epoch 45/50
 - 0s - loss: 0.4401 - acc: 0.7953 - val_loss: 0.4057 - val_acc: 0.8000
Epoch 46/50
 - 0s - loss: 0.4378 - acc: 0.8027 - val_loss: 0.4070 - val_acc: 0.8111
Epoch 47/50
 - 0s - loss: 0.4331 - acc: 0.7990 - val_loss: 0.4070 - val_acc: 0.7889
Epoch 48/50
 - 0s - loss: 0.4379 - acc: 0.8052 - val_loss: 0.4151 - val_acc: 0.8222
Epoch 49/50
 - 0s - loss: 0.4442 - acc: 0.8065 - val_loss: 0.4035 - val_acc: 0.8111
Epoch 50/50
 - 0s - loss: 0.4347 - acc: 0.7915 - val_loss: 0.4056 - val_acc: 0.8111

In [313]:
scores = model.evaluate(X_train, y_train)

891/891 [==============================] - 0s 35us/step

In [314]:
scores[1]

0.8204264866248794

In [315]:
survived_predict= model.predict(X_test)

In [316]:
survived_predict

array([[0.09383187],
       [0.37162837],
       [0.10720596],
       [0.08764999],
       [0.45182556],
       [0.18946758],
       [0.6011451 ],
       [0.15128027],
       [0.55957156],
       [0.10707468],
       [0.08201936],
       [0.19749965],
       [0.91421914],
       [0.09235413],
       [0.9299372 ],
       [0.832945  ],
       [0.15511312],
       [0.13452967],
       [0.42700577],
       [0.46920645],
       [0.31067377],
       [0.3747485 ],
       [0.9199188 ],
       [0.34753826],
       [0.9244136 ],
       [0.05721897],
       [0.9491669 ],
       [0.13070926],
       [0.21698686],
       [0.11455628],
       [0.10916533],
       [0.15845303],
       [0.4395934 ],
       [0.45406199],
       [0.35236576],
       [0.1411064 ],
       [0.41785306],
       [0.44619146],
       [0.0912644 ],
       [0.09653448],
       [0.09705956],
       [0.23662116],
       [0.06581914],
       [0.704183  ],
       [0.92834294],
       [0.09124987],
       [0.2758208 ],
       [0.10192637],
       [0.9595586 ],
       [0.42005074],
       [0.26205513],
       [0.18873972],
       [0.7495372 ],
       [0.84776986],
       [0.18058503],
       [0.18323205],
       [0.07447493],
       [0.09124734],
       [0.08208809],
       [0.904539  ],
       [0.12348637],
       [0.12622757],
       [0.11674557],
       [0.6199812 ],
       [0.3032726 ],
       [0.72506934],
       [0.629595  ],
       [0.22367439],
       [0.31491432],
       [0.90510345],
       [0.61545575],
       [0.1020537 ],
       [0.42122802],
       [0.32081056],
       [0.9225978 ],
       [0.2658288 ],
       [0.08202063],
       [0.8929877 ],
       [0.13006395],
       [0.61545575],
       [0.6454122 ],
       [0.23928441],
       [0.19078735],
       [0.08201936],
       [0.16423139],
       [0.11271065],
       [0.60891706],
       [0.45352614],
       [0.6008886 ],
       [0.6670826 ],
       [0.45564052],
       [0.08201836],
       [0.9228191 ],
       [0.08202063],
       [0.3278269 ],
       [0.09124869],
       [0.9318376 ],
       [0.08416634],
       [0.44720793],
       [0.07758682],
       [0.9549768 ],
       [0.1454994 ],
       [0.10192637],
       [0.08942887],
       [0.56939244],
       [0.08601658],
       [0.12231652],
       [0.10192637],
       [0.0820262 ],
       [0.16040896],
       [0.15652694],
       [0.6009806 ],
       [0.9464868 ],
       [0.6266279 ],
       [0.9264769 ],
       [0.14447232],
       [0.11235625],
       [0.7268586 ],
       [0.35144907],
       [0.7403607 ],
       [0.74067026],
       [0.10192637],
       [0.953621  ],
       [0.0858831 ],
       [0.10192637],
       [0.47557777],
       [0.09821922],
       [0.64858276],
       [0.10922207],
       [0.09310388],
       [0.07918639],
       [0.2511883 ],
       [0.4591612 ],
       [0.11235625],
       [0.06314824],
       [0.09310207],
       [0.1209704 ],
       [0.13928296],
       [0.43891332],
       [0.08492211],
       [0.47092342],
       [0.9030082 ],
       [0.28416845],
       [0.14373021],
       [0.20767103],
       [0.08089831],
       [0.26836577],
       [0.09828633],
       [0.23662116],
       [0.14024556],
       [0.94610906],
       [0.11237244],
       [0.05794116],
       [0.41098776],
       [0.2050936 ],
       [0.09309917],
       [0.856397  ],
       [0.43845314],
       [0.20767103],
       [0.44363785],
       [0.600836  ],
       [0.5954997 ],
       [0.71358347],
       [0.08201184],
       [0.1107578 ],
       [0.46315122],
       [0.3121264 ],
       [0.12358643],
       [0.94667965],
       [0.44397742],
       [0.08201645],
       [0.11979799],
       [0.09632763],
       [0.11236507],
       [0.0732369 ],
       [0.743508  ],
       [0.7543991 ],
       [0.30488068],
       [0.7595875 ],
       [0.9607025 ],
       [0.13006395],
       [0.35054934],
       [0.91389245],
       [0.10192637],
       [0.89458907],
       [0.11435691],
       [0.74271405],
       [0.1235489 ],
       [0.502896  ],
       [0.11231243],
       [0.13348845],
       [0.23558132],
       [0.271864  ],
       [0.11131369],
       [0.39585128],
       [0.07758523],
       [0.52464825],
       [0.45287567],
       [0.14740407],
       [0.41799816],
       [0.62503904],
       [0.7411403 ],
       [0.26441017],
       [0.73222536],
       [0.1419249 ],
       [0.31085017],
       [0.58978915],
       [0.14464292],
       [0.9453218 ],
       [0.09124958],
       [0.07930388],
       [0.08201229],
       [0.1817655 ],
       [0.6782422 ],
       [0.3951733 ],
       [0.23652594],
       [0.60129565],
       [0.2386105 ],
       [0.9432115 ],
       [0.08202063],
       [0.79673856],
       [0.10209583],
       [0.7134956 ],
       [0.1020264 ],
       [0.9341045 ],
       [0.5370617 ],
       [0.09498802],
       [0.6008886 ],
       [0.06700696],
       [0.1187226 ],
       [0.19683374],
       [0.91753906],
       [0.1016719 ],
       [0.10192769],
       [0.3500107 ],
       [0.10598031],
       [0.31874642],
       [0.13712868],
       [0.72795147],
       [0.9595991 ],
       [0.9331204 ],
       [0.7199988 ],
       [0.32747254],
       [0.08201929],
       [0.08214971],
       [0.25742897],
       [0.7408472 ],
       [0.12822555],
       [0.7403607 ],
       [0.53515404],
       [0.7936338 ],
       [0.10600033],
       [0.2963629 ],
       [0.09311587],
       [0.07839449],
       [0.08201645],
       [0.10192637],
       [0.0858901 ],
       [0.72601706],
       [0.10202074],
       [0.07234547],
       [0.10204235],
       [0.73271245],
       [0.7402856 ],
       [0.17968276],
       [0.08201936],
       [0.19866735],
       [0.08201645],
       [0.41785306],
       [0.12379765],
       [0.34767893],
       [0.10192637],
       [0.93482   ],
       [0.62503904],
       [0.11236502],
       [0.75082105],
       [0.13402595],
       [0.12387087],
       [0.13514681],
       [0.15020862],
       [0.44035363],
       [0.7302568 ],
       [0.6008886 ],
       [0.7259416 ],
       [0.6954761 ],
       [0.07295817],
       [0.08201394],
       [0.2532502 ],
       [0.11236507],
       [0.08202063],
       [0.26221377],
       [0.5990036 ],
       [0.11236507],
       [0.26299733],
       [0.07297506],
       [0.08943   ],
       [0.8719577 ],
       [0.11455628],
       [0.2680311 ],
       [0.08416574],
       [0.07918416],
       [0.18018597],
       [0.11389142],
       [0.09310959],
       [0.6008886 ],
       [0.8854495 ],
       [0.23139395],
       [0.74134606],
       [0.2631195 ],
       [0.39453056],
       [0.11709862],
       [0.13197239],
       [0.08201666],
       [0.585065  ],
       [0.9610127 ],
       [0.63141906],
       [0.33225396],
       [0.15888634],
       [0.08764281],
       [0.16230465],
       [0.08942887],
       [0.12454695],
       [0.13928296],
       [0.22964765],
       [0.8866006 ],
       [0.09498087],
       [0.7367138 ],
       [0.34798327],
       [0.14197895],
       [0.15309304],
       [0.7318248 ],
       [0.29328665],
       [0.11236502],
       [0.57643926],
       [0.08764319],
       [0.23628412],
       [0.12603298],
       [0.09546012],
       [0.15655519],
       [0.11236507],
       [0.161945  ],
       [0.07918256],
       [0.09714251],
       [0.87494904],
       [0.08207466],
       [0.45844713],
       [0.13928296],
       [0.49117318],
       [0.14468421],
       [0.7236538 ],
       [0.95595366],
       [0.1419249 ],
       [0.17954269],
       [0.15760389],
       [0.73560053],
       [0.18858905],
       [0.91844046],
       [0.08201918],
       [0.10192637],
       [0.43615544],
       [0.14339787],
       [0.8371152 ],
       [0.7236538 ],
       [0.08764999],
       [0.9514443 ],
       [0.502896  ],
       [0.11271169],
       [0.4899795 ],
       [0.9556547 ],
       [0.18285099],
       [0.15307142],
       [0.94189316],
       [0.15429187],
       [0.10620663],
       [0.9342273 ],
       [0.91965264],
       [0.4432706 ],
       [0.15307142],
       [0.21769851],
       [0.50205153],
       [0.10192637],
       [0.11091974],
       [0.43290058],
       [0.46968165],
       [0.12943904],
       [0.75437564],
       [0.09310132],
       [0.08834318],
       [0.12231567],
       [0.49166924],
       [0.25724205],
       [0.9121852 ],
       [0.21864225],
       [0.10028088],
       [0.08428733],
       [0.9124077 ],
       [0.11535569],
       [0.95766944],
       [0.09821371],
       [0.10046124],
       [0.89055616],
       [0.12130999],
       [0.94939077],
       [0.26993376],
       [0.2773929 ],
       [0.20904912],
       [0.14740407],
       [0.28291863],
       [0.6007965 ],
       [0.6924846 ],
       [0.6008886 ],
       [0.9687035 ],
       [0.42376468],
       [0.08202063],
       [0.95546335],
       [0.06930145],
       [0.08202063],
       [0.11473112]], dtype=float32)

In [317]:
survived_predict = np.array(survived_predict)
survived_predict = np.round(survived_predict)

In [318]:
survived_predict

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.]], dtype=float32)

In [319]:
submission=pd.DataFrame({'PassengerId':test['PassengerId'], 'Survived':survived_predict[0:418,0]})

In [321]:
submission.to_csv('submission1.csv', index=False)